body{
    font-family: 'Noto Sans', ;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color:orange;
}
.profile-description{
width: 40%;
float: left;
margin-left: 5%;
padding-left: 2%;
}
.profile-img{
    width: 100%;
    /* float: right; */
    
}